* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     width: 100vw;
     height: 100vh;
     display: flex;
     flex-direction: column;
     gap: 2rem;
     justify-content: center;
     align-items: center;
     font-family: sans-serif;
     background-color: rgb(239,255,250);
}

.slider {
    width: 500px;
    background-color: rgb(187, 187, 207);
    height: 5px;
    border-radius: 2px;
}

.fill {
    position: relative;
    width: 0;
    background-color:greenyellow;
    height: 5px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.dragger {
    position: absolute;
    right: 0;
    height: 20px;
    width: 20px;
    background-color:green;
    border-radius: 50%;
    cursor: pointer
}

